<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="blink" ><p id="p2" >Your Performance analytics</p>
</div>
<br>
<br>
<div class="row", style="text-align:centre;">
        <div class="col-lg-8 col-md-10 mx-auto">
<div class="container h-100 d-flex justify-content-center">
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header" style="size:32px;color:yellow;"><h4>Performance-Details</h4></div>
  <div class="card-body">
    <h4 class="card-text" style="color:yellow;size:32px;font-family:Arial">Accuracy :{{accuracy}}%</h4>

       <h4 class="card-text " style="color:yellow;size:32px;font-family:Arial;">Speed :{{speed}} WPM</h4>
      <h4 class="card-text" style="color:yellow;size:32px;font-family:Arial;">Time_taken :{{total_time_taken}} Min</h4>
  </div>
</div>
    </div>
            </div>
    </div>
    <div class="text-center">
        <h3 style="color:purple;">Wrong words you typed are {{d}}</h3>
    </div
        <br>
    <div class="row", style="text-align:centre;">
        <div class="col-lg-8 col-md-10 mx-auto">
<div class="container h-100 d-flex justify-content-center">
<div class="card text-white bg-primary mb-3" style="max-width: 22rem;">
  <div class="card-header" style="size:32px;color:yellow;"><h4>Speed Details</h4></div>
  <div class="card-body">
    <p class="card-text" style="color:yellow;size:32px;font-family:Arial">Expert : Speed>=50 WPM</p>

       <p class="card-text " style="color:yellow;size:32px;font-family:Arial;">Armateur:40 to 50WPM</p>
      <p class="card-text" style="color:yellow;size:32px;font-family:Arial;">Very Good: 30 to 40WPM </p>
      <p class="card-text" style="color:yellow;size:32px;font-family:Arial;">Good: 25 to 30WPM <p>
           <p class="card-text" style="color:yellow;size:32px;font-family:Arial;">Novice: 20 to 25 WPM <p>
                  <p class="card-text" style="color:yellow;size:32px;font-family:Arial;">Poor:<20 WPM <p>
  </div>
</div>
    </div>
            </div>
    </div>
{% if speed >50 %}
    <div class="text-center">
        <h3 style="color:green;">You are Expert in speed typing</h3>
    </div>
{% elif 40 < speed <=50 %}
               <div class="text-center">
        <h3 style="color:green;">You are Armateur in   speed typing</h3>
    </div>
{% elif 30<speed<=40 %}
               <div class="text-center">
        <h3 style="color:yellow;">You are very good in  speed typing</h3>
    </div>
{% elif 25<speed<=30 %}
          <div class="text-center">
        <h3 style="color:orange;">You are good in  speed typing</h3>
    </div>
{% elif 20<speed<=25 %}
          <div class="text-center">
        <h3 style="color:orange;">You are novice in  speed typing</h3>
    </div>
{% else %}
          <div class="text-center">
        <h3 style="color:red;">You are poor in accuracy of speed typing</h3>
    </div>
{% endif %}        
<div class="text-center">
<div  class="btn-group">

  <a href="{{url_for('home')}}" class="btn btn-primary active" style="margin:10px 500px;border-radius:12px;" aria-current="page"><h3>BACK</h3></a>
        </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
